:root {
  --main-bg-color: #f2dbbc;
}

* {
  font-family: Georgia, serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
}
html {
  width: 100vw;
}
/* ul {
  list-style-position: inside;
} */
h1 {
  margin-bottom: 1%;
}
h2 {
  margin-top: 1%;
}

p {
  padding: 0.5%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
}
table {
  border: 6px solid;
  border-collapse: collapse;
}

th,
td {
  border: 2px dotted;
  /* border-top: 0;
  border-right: 10px;
  border-bottom: 0;
  border-left: 0; */
}
form {
  display: inline;
}

.ul1 {
  width: 100%;
  /* list-style-type: none; */
  padding-left: 0;
  /* display: flex; */
  background-color: var(--main-bg-color);
  padding: 0.5% 0 0.5% 0.5%;
  margin-bottom: 2%;
}

.ul1 li {
  display: inline;
}
.ul1-link {
  padding: 0 1% 0 1%;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-width: 1px;
}
#vivamus-main-div {
  display: flex;
}
#vivamus-left-div {
  background-color: var(--main-bg-color);
}
.ul2 {
  float: right;
  background-color: var(--main-bg-color);
  border-style: dashed;
  padding-right: 3%;
  margin-left: 0.5%;
}
.vivamus-ul2 {
  display: none;
}

.etusivu-kuvadiv {
  margin: 3%;
  width: auto;
  /* width: -moz-fit-content; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.diam-galleriadiv {
  width: 70em;
  height: 47em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: -2%;
}
.diamkuvadiv {
  margin: 0% 4% 0% 3.7%;
  /* width: 340; */
  /* width: -moz-fit-content; */
  /* height: 0em; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.diam-img {
  /* height: 12em; */
}
.kuvateksti {
  margin-top: 1%;
}

/* .vivamus-ul2 {
  position: fixed;
  float: left;
} */
.vivamus-video-preview {
  margin: 1em 0 1em 0;
  /* Jos on pakko voi käyttää absoluuttisia kokoja kuten html-koodissa: */
  /*   width: 560px;
     height: 315px; */
  /* Parempi on käyttää suhteellisia skaalautuvia mittoja. Täytyy myös säilyttää
    oikea kuvasuhde. Videoissa yleisin kuvasuhde on 16:9 eli 0.5625  */
    width: 90vw;
    height: calc(90vw*0.5625) /* lasketaan oikea suhde */
}
.vivamus-youtube-link {
  margin-bottom: 1em;
}


#first-ul1-link {
  padding-left: 1;
}
#last-ul1-link {
  border: none;
}
#piilotettu-otsikko {
  display: none;
}
#vivamus-aani-preview {
  margin-top: 1em;
}

@media print {
  #mobile-nav-div {
    display: none;
    font-family: "Times New Roman", Times, serif;
  }
}

@media only screen and (max-width: 600px) {
  #mobile-nav-div {
    display: flex;
    justify-content: space-around;
  }
  #vivamus-left-div {
    display: none;
  }
  .vivamus-ul2{
    display: inherit;
    padding-left: 1.2em;
  }
  .ul-divs {
    height: 12em;
    width: 17em;
    background-color: var(--main-bg-color);
  }
  .ul1,
  .ul2 {
    float: unset;
    padding: 0 0 0 1.2em;
  }
  .ul1 {
    list-style-type: disc;
  }
  .ul1 li {
    display: list-item;
  }
  .ul1-link {
    border: none;
    padding: 0;
  }
  .ul2 {
    border-style: none;
  }
 