:root {
  --main-bg-color: #f2dbbc;
}

* {
  font-family: Georgia, serif;
  margin: 0;
}

h1 {
  margin-bottom: 1%;
}
h2 {
  margin-top: 1%;
}

p {
  padding: 0.5%;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
}
table {
  border: 6px solid;
  border-collapse: collapse;
}

th,
td {
  border: 2px dotted;
  /* border-top: 0;
  border-right: 10px;
  border-bottom: 0;
  border-left: 0; */
}
form {
  display: inline;
}

.ul1 {
  width: 100%;
  /* list-style-type: none; */
  padding-left: 0;
  /* display: flex; */
  background-color: var(--main-bg-color);
  padding: 0.5% 0 0.5% 0.5%;
  margin-bottom: 2%;
}

.ul1 li {
  display: inline;
}
.ul1-link {
  padding: 0 1% 0 1%;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-width: 1px;
}
.ul2 {
  float: right;
  background-color: var(--main-bg-color);
  border-style: dashed;
  padding-right: 3%;
  margin-left: 0.5%;
}

.etusivu-kuvadiv {
  margin: 3%;
  width: fit-content;
  /* width: -moz-fit-content; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.diam-galleriadiv {
  width: 70em;
  height: 47em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: -2%;
}
.diamkuvadiv {
  margin: 0% 4% 0% 3.7%;
  /* width: 340; */
  /* width: -moz-fit-content; */
  /* height: 0em; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.diam-img {
  /* height: 12em; */
}
.kuvateksti {
  margin-top: 1%;
}

.vivamus-main-div {
  display: flex;
}
.vivamus-ul {
  /* box-sizing: border-box; */
  /* float: right; */
  background-color: var(--main-bg-color);
  border-style: none;
  padding-top: 3%;
  width: 15vw;
  /* padding-right: 400%; */
  /* padding-left: 30%; */

  margin-left: 0.5%;
  height: 100%;
}
.vivamus-video-preview {
  margin: 1em 0 1em 0;
}
.vivamus-youtube-link {
  margin-bottom: 1em;
}

#first-ul1-link {
  padding-left: 0;
}
#last-ul1-link {
  border: none;
}
#piilotettu-otsikko {
  display: none;
}
#vivamus-aani-preview {
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  #mobile-nav-div {
    display: flex;
  }
  .ul1 {
    list-style-type: disc;
    padding-left: 5%;
  }
  .ul1 li {
    display: list-item;
  }
  .ul1-link {
    border: none;
  }
  #first-ul1-link {
    padding-left: 1%;
  }
  .ul2 {
    border-style: none;
  }
}
